@charset "UTF-8";

* {
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(to right, #DAC1E8, #C6E7D1);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9e727db2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #F5B0C2;
text-align: center;
text-shadow: 1px 1px 2px #9c6e7ac9;
}

h2{
color: #B3DFF3;
}
p {
    text-align: justify;
}