@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(186, 238, 186);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(6, 138, 0);
}

h1#principal {
    text-align: center;
    color: whitesmoke;
}

h2 {
    color: rgb(76, 138, 0);;
}

.basico {
    color: blue;
    font-weight: bold;
}

.intermediario {
    color: yellowgreen;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgb(26, 26, 3);
}